nav, #menu-icon {background: url(../img/header_red.jpg) repeat;}
.amazon-seacrh input[type="submit"]:hover,  {background: #E42217; color: #fff}

.amazon-seacrh input[type="submit"]:hover,  {background: #E42217; color: #fff}
.popular-item li a.detail:hover, .popular-item a.detail:hover, .product-list a.detail:hover, #slider .slide-desc a.cart:hover, .navigation a:hover {border: 1px solid #E42217; color: #fff !important; background: #E42217 }
.product-meta-excerpt h3 span, .product-share h3 span, .product-description h3 span, h2.archive span, h2.page span {border-bottom: 2px solid #E42217;}
.product-meta-action .cart:active, .product-meta-action .cart:hover {
background-image: linear-gradient(bottom, #E42217 0%, #E42217 100%);
background-image: -o-linear-gradient(bottom, #E42217 0%, #E42217 100%);
background-image: -moz-linear-gradient(bottom, #E42217 0%, #E42217 100%);
background-image: -webkit-linear-gradient(bottom, #E42217 0%, #E42217 100%);
background-image: -ms-linear-gradient(bottom, #E42217 0%, #E42217 100%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #E42217), color-stop(1, #E42217) );
-webkit-box-shadow: inset 0px 4px 1px #7E2217, 0px 2px 0px 0px #C11B17, 0px 5px 3px #999;
-moz-box-shadow: 0px 2px 0px 1px #C11B17, 0px 5px 3px #999;
-o-box-shadow: 0px 2px 0px 1px #C11B17, 0px 5px 3px #999;
box-shadow: inset 0px 4px 1px #7E2217, 0px 2px 0px 0px #C11B17, 0px 5px 3px #999;
}
.product-meta-action .cart {
background-image: linear-gradient(bottom, #E42217 0%, #E42217 100%);
background-image: -o-linear-gradient(bottom, #E42217 0%, #E42217 100%);
background-image: -moz-linear-gradient(bottom, #E42217 0%, #E42217 100%);
background-image: -webkit-linear-gradient(bottom, #E42217 0%, #E42217 100%);
background-image: -ms-linear-gradient(bottom, #E42217 0%, #E42217 100%);
background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #E42217), color-stop(1, #E42217) );
-webkit-box-shadow: inset 0px 1px 0px #C11B17, 0px 5px 0px 0px #C11B17, 0px 10px 5px #999;
-moz-box-shadow: inset 0px 1px 0px #C11B17, 0px 5px 0px 0px #C11B17, 0px 10px 5px #999;
-o-box-shadow: inset 0px 1px 0px #C11B17, 0px 5px 0px 0px #C11B17, 0px 10px 5px #999;
box-shadow: inset 0px 1px 0px #C11B17, 0px 5px 0px 0px #C11B17, 0px 10px 5px #999;
}

div.modal-box div.inside.green {
	background: url(../img/header_red.jpg) repeat;
}